.fields-container{
    background-color: white;
    margin: 10px;
    padding: 5px 0 15px 0;
    overflow-x: scroll;
}

.fields-container::-webkit-scrollbar{
    display: none;
}

.fields{
    display: flex;
    justify-content: space-around;
}

.field{
    /* background-color: yellow; */
    margin: 3px;
}

.field p{
    text-align: center;
}